.logo {
    width: 200px;
}

.wrapper {
    border: 1px solid;
}

.productTypes {
    display: flex;
    margin-top: 8px;
}

.productType {
    border: 1px solid grey;
    width: 100px;
    height: 100px;
    border-radius: 3px;
    margin-left: 8px;
    cursor: pointer;
}

.productType:hover {
    border-color: green;
    color: green;
}

.products {
    display: flex;
    margin-top: 8px;
}

.product {
    border: 1px solid grey;
    width: 100px;
    height: 100px;
    border-radius: 3px;
    margin-left: 8px;
    color: blue;
}
